:root {
    --transition: all 250ms ease;


    --white700: #ffffff;
    --white600: #faf9f6;
    --white500: #f9f6ee;
    --white400: #edeade;
    --white300: #e2dfd2;

    --black700: #000000;
    --black600: #1b1212;
    --black500: #28282b;
    --black400: #343434;
    --black300: #353935;
    --black200: #36454f;

    --blue700: #191970;
    --blue600: #00008b;
    --blue500: #1434a4;
    --blue400: #0f52ba;
    --blue300: #3f00ff;

    --red700: #4a0404;
    --red600: #8b0000;
    --red500: #dc143c;
    --red400: #d70040;

    --green700: #355e3b;
    --green600: #4f7942;
    --green500: #228b22;
    --green400: #00a36c;
    --green300: #32cd32;
    --green200: #0fff50;
    --green100: #7cfc00;
}